.background-size-cover {
    background-size: cover !important;
}
.background-size-contain {
    background-size: contain !important;
}
.is-style-large-highlight-text {
    @include clearfix;
    font-size: 23px !important;
    font-weight: 100 !important;
}
.is-style-thin-text {
    font-weight: 100 !important;
}
.is-style-semithin-text {
    font-weight: 200 !important;
}
.is-style-imagecaption {
    font-weight: 100 !important;
    margin-top: 0 !important;
    font-size: 11px !important;
}
.has-text-align-left{
    text-align: left;
}
.has-text-align-center{
    text-align: center;
}
.has-text-align-right{
    text-align: right;
}
.is-style-imagecaption {
    font-weight: 100 !important;
    margin-top: 0 !important;
    font-size: 11px !important;
}
.wp-block-table.noborders,
.wp-block-table.is-style-noborders {
    tr,thead,th,td {border: 0;}
}
.is-style-sivuotsikko {
    font-weight: 700;
    @media screen and (min-width: 992px) {
        font-size: 80px;
    }
}
.is-style-thin-text {
    font-weight:100 !important;
}
.is-style-semithin-text {
    font-weight:200 !important;
}
.is-style-imagecaption {
    font-weight:100 !important;
    margin-top:0 !important;
    font-size:11px !important;
}