@import "./sass/bootstrap-settings";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";

/* Tailwind */
@import '../dist/tailwind.css';

.tailwind-block,
.tailwind-block-editgrid {
    --wp-admin-theme-color: #0f766e;
	--wp-admin-theme-color-darker-10: #0b5750;
    --wp-admin-theme-color-darker-20: #08423d;
    input[type="range"],
    input[type="checkbox"]{
        filter:hue-rotate(320deg) grayscale(50%);
    }
}