@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "./sass/front";

.tailwind-block {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}